{% extends 'layout.html' %}
    {% block content %}
        {% load static %}
<main class="main-google-account">
    <div class="container-google-account">
        <div class="contain-google-account">
                <h1 class="title-h1">Sign In</h1>
                <h2>You are about to use third party authentication!
                </h2>
                <form method="post">
                    <div>
                        {% csrf_token %}
                        <button type="submit" class="button-submit">Continue</button>
                    </div>
                </form>
        </div>
    </div>
</main>
    
    {% endblock %}