{% extends 'layout.html' %}
    {% load socialaccount %}
    {% block content %}
        {% load static %}

<main class="main-welcome">
    <div class="container-welcome">
        <div class="contain-welcome">
                <h1 class="title-h1">Welcome</h1>
                
                <form action="{% url 'account_login' %}" method="POST" class="contain-form-welcome">
                    <div class="">
                        {% csrf_token %}
                        <div class="form-content">
                            {{form.login}}
                        </div>
        
                        <div class="form-content">
                            {{form.password}}
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="button-submit">Sign In</button>
                    </div>
        
                </form>
                <div class="contain-button-google">
                    <a href="{% provider_login_url 'google' %}" class="log_google">
                        <img src="{% static 'images/google.png' %}" alt="">
                          Sign in with google
                    </a>
                </div>
                <div>
                    <p>If you have not created an account yet, then please
                        <a href="{{ signup_url }}">sign up</a> first.
                    </p>
                </div>
        </div>         
   </div>
</main>


{%endblock%}



