{% extends 'layout.html' %}
    {% block content %}
        {% load static %}
<main class="main-logout">
  <div class="container-logout">
      <div class="contain-logout">
          <h1 class="title-h1">Sign Out</h1>
        
          <p>Are you sure you want to sign out?</p>
            <form method="post" action="{% url 'account_logout' %}">
              {% csrf_token %}
                <button type="submit" class="button-submit">Sign Out</button>
            </form>
            {% comment %} <div class="btn-container"> {% endcomment %}
              <button class="button-submit"><a href="/">Cancel</a></button>
            {% comment %} </div> {% endcomment %}
      </div>
  </div>
</main>



  {% endblock %}

