{% extends 'layout.html' %}

    {% load i18n %}
    {% block content %}
        {% load static %}


<main class="main-signup">
  <div class="container-signup">
      <div class="contain-signup">

            <h1 class="title-h1">Create Your Account</h1>
          
            <form class="form-signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                <div class="content-form-signup">
                  {{ form.username }}
                </div>
          
                <div class="content-form-signup">
                  {{ form.email }}
                </div>
          
          
                <div class="content-form-signup">
                  {{ form.password1 }}
                </div>
          
                <div class="content-form-signup">
                  {{ form.password2 }}
                </div>
              
                {% if redirect_field_value %}
                <input type="text" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button type="submit" class="button-submit">
                  {% trans "Sign Up"%}
                </button>
            </form>

            <div>
              <p>Already have an account? Then please <a href="{{ login_url }}">sign in</a>.</p>
            </div>
      </div>         
    </div>
 </main>


{% endblock %}