@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200;400;600;800&family=Modak&family=Montserrat:wght@100;200;300;400;500&family=Oi&family=Poppins:wght@100;500&family=Staatliches&family=Titan+One&display=swap');


:root{
    --primer-color: #02c4ff;
    --segundo-color:#1a1a1a;
    --tercer-color:#f8f8f8;
    --cuarto-color:#690388;
    --quinto-color: #ff0178;
    --sexto-color:#000000;
}
*{
    font-family:'Montserrat',cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--segundo-color);
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
main{
    width: 100%;
    height: 35rem;
    display: flex;
    justify-content: center;
}

.title-h1{
    text-decoration: 3px underline var(--quinto-color);
    padding: 1rem;
}


.button-submit{
    color: var(--tercer-color);
    background: var(--quinto-color);
    border: 1px solid var(--quinto-color);
    border-radius: 5px;
    margin:.5rem 0 .5rem 0;
    text-align: center;
    font-size: 1.2rem;
    padding: .5rem;
}

.button-submit:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0px 10px 22px -3px rgba(255, 0, 76, 0.438);
}

.toggle-password{
    color: var(--quinto-color);
    background-color: transparent;
    font-size: 1rem;
    border: none;
    margin: .5rem;
    max-width: 1rem;
    max-height: 1rem;
    position: absolute;
}

.toggle-password i:hover{
    cursor: pointer;
}



/* .btn-container{
    display: flex;
    padding: .2rem;
    justify-content: center;
} */
/* SECTION NAVBAR----------------------------------------------------------- */
header{
    width: 100%;
    height:5rem ;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 6.25rem;
    position: fixed;
    z-index: 1000;
    margin-top: -35rem;
}
.nav-bar{ 
    width: 65rem;
    height: 4rem;
    margin-top: .5rem;
}

.nav-container{
    width: 65rem;
    height: 4rem;
    background: linear-gradient(to right, #c402ff, #ff0281, #1a01ff, #00dffc);
    border-radius: 5rem;
    padding: 1.5px;
}

.nav-container .nav-content{
    background: var(--segundo-color);
    border-radius: 5rem;
    width: 100%;
    height: 100%;
}

.hamburger{
    display: none;
}
.nav-bar ul{
    display: flex;
    list-style: none;
    font-family: 'Staatliches','cursive' ;
    justify-content: center;
}
.nav-bar ul li a{
    display: block;
    color: var(--tercer-color);
    font-size: 1.5rem;
    border-radius: 5rem;
    padding: .6em;
    text-decoration: none;
}
.nav-bar ul li a:hover{
    text-decoration: underline 1px #c402ff;
    scale: .9;
}
.nav-bar ul li a.active{
    background-color: #0f03c0;
    scale: .9;
}  

/* contaner home */
.container {
    margin-top: 7rem;
    width: 60rem;
    height: 25rem;
    text-align: center;
    background: linear-gradient(to right, #c402ff, #ff0281, #1a01ff, #00dffc);
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container .contain{
    height: 100%;
    background: var(--sexto-color);
    padding: 2rem 0px;
    
} 


/* .container .contain .values{

} */

.container .contain .title{
    color: var(--tercer-color);
    text-decoration: underline 4px var(--quinto-color);
}

p {
    color: var(--tercer-color);
    font-size: 1rem;
    padding: .5rem;
}

p span{
    font-weight: bold;
}

.total-lives-count{
    font-size: 1rem;
    margin-bottom: 20px;
}

/* .price{
   font-size: 40rem;
} */

#total{
    font-size: 2rem;
}

.lives-count {
    font-size: 24px;
    margin-bottom: 20px;
}

#increase-lives-btn, #decrease-lives-btn {
    background-color: transparent;
    border: 1px solid var(--quinto-color);
    color: #fff;
    padding: .5rem 2rem;
    text-align: center;
    margin: .5rem;
    justify-content: center;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

#buy-life-btn{
    background-color: var(--cuarto-color);
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}

#buy-life-btn:hover {
    background: linear-gradient(to right #000, #4e0166,#c402ff);
}

#increase-lives-btn:hover, #decrease-lives-btn:hover{
    border:1px solid var(--primer-color);
    transition: .2s ease-out;
    box-shadow:0 0 10px #c402ff;
}

.arrow{
    display: block;
    height: 5rem;
}


form input.buy {
    background-color: var(--cuarto-color);
    transition:background 1s ease;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid var(--cuarto-color);
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}



.buy:hover {
    border: 2px solid var(--tercer-color);
    background: #000;
    transform: scale(1.1);
    box-shadow:0 0 10px #c402ff;
}

/* container payment */
.pay-cont {
    text-align: center;
    justify-content: center;
    width: 50rem;
    height: 20rem;
    background: linear-gradient(to right, #c402ff, #ff0281, #1a01ff, #00dffc);
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.pay-cont .pay-conta{
    background: var(--sexto-color);
    height: 100%;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.pay-cont .pay-conta .content{
    padding: 2rem 0;
}   

.pay-cont .pay-conta .content .title{
    color: var(--tercer-color);
    text-decoration: underline 4px var(--quinto-color);
}
/*select-login--------*/
.main-welcome{
    text-align: center;
    display: flex;
}

.container-welcome{
        margin-top: 7rem;
        width: 60rem;
        height: 25rem;
        text-align: center;
        background: linear-gradient(to right, #c402ff, #ff0281, #1a01ff, #00dffc);
        padding: 5px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: var(--tercer-color);

}

.contain-welcome{
    height: 100%;
    background: var(--sexto-color);
    padding: 2rem 0px;
}

.main-welcome .container-welcome .contain-welcome h2{
    text-decoration: 3px underline var(--quinto-color);
    padding: .5rem;
}

.main-welcome .contain-form-welcome{
    padding: 1rem 0 1rem 0;
}

.main-welcome .contain-form-welcome .form-content{
    padding: .5rem;
}

.main-welcome .contain-form-welcome .form-content input{
    text-align: center;
    background-color: var(--segundo-color);
    border: none;
    color: var(--quinto-color);
    border-radius: .5rem;
    font-size: 1.2rem;
}

.main-welcome .contain-form-welcome .form-content input:focus{
    outline: 1px solid var(--quinto-color);
}

/* .main-welcome .contain-form-welcome button{
    color: var(--tercer-color);
    background: var(--quinto-color);
    border: 1px solid var(--quinto-color);
    border-radius: 5px;
    margin-bottom: .5rem;
    text-align: center;
    font-size: 1.2rem;
    padding: .5rem;
}

.main-welcome .contain-form-welcome button:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0px 10px 22px -3px rgba(255, 0, 76, 0.438);
} */

.main-welcome .container-welcome .contain-welcome .log_google{
    background: var(--segundo-color);
    padding: .8rem;
    border-radius: .5rem;
    text-decoration: none;
    color: var(--tercer-color);
}

.main-welcome .container-welcome .contain-welcome a{
    color: var(--quinto-color);
    text-decoration: none;

}

.main-welcome .container-welcome .contain-welcome .contain-button-google{
    padding-bottom: 1rem;
}

.main-welcome .container-welcome .contain-welcome img{
    width: 1rem;
    height: 1rem;
    margin-left: .5rem;
}
/* GOOGLE ACOUNT------------ */
.main-google-account{
    text-align: center;
    display: flex;
}

.container-google-account{
        margin-top: 7rem;
        width: 45rem;
        height: 15rem;
        text-align: center;
        background: linear-gradient(to right, #c402ff, #ff0281, #1a01ff, #00dffc);
        padding: 5px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: var(--tercer-color);

}

.contain-google-account{
    height: 100%;
    background: var(--sexto-color);
    padding: 2rem 0px;
}

.main-google-account .container-google-account .contain-google-account h2{
    font-size: 1rem;
    padding: 1rem;
}
/* .main-google-account .contain-google-account button{
    color: var(--tercer-color);
    background: var(--quinto-color);
    border: 1px solid var(--quinto-color);
    border-radius: 5px;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 1.2rem;
    padding: .5rem;
}

.main-google-account .contain-google-account button:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0px 10px 22px -3px rgba(255, 0, 76, 0.438);
} */


/* SIGNUP FORM----------------------------------------------------*/

.main-signup{
    text-align: center;
    display: flex;
}

.container-signup{
        margin-top: 7rem;
        width: 45rem;
        height: 25rem;
        text-align: center;
        background: linear-gradient(to right, #c402ff, #ff0281, #1a01ff, #00dffc);
        padding: 5px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: var(--tercer-color);
}

.contain-signup{
    height: 100%;
    background: var(--sexto-color);
    padding: 2rem 0px;
}

.main-signup .contain-signup form input{
    text-align: center;
    background-color: var(--segundo-color);
    border: none;
    color: var(--quinto-color);
    border-radius: .5rem;
    font-size: 1.2rem;
}

.main-signup .contain-signup form input:focus{
    outline: 1px solid var(--quinto-color);
}

.main-signup .contain-signup form .content-form-signup{
    padding: .5rem;
}

.main-signup .contain-signup a{
    color: var(--quinto-color);
    text-decoration: none;
}

/* LOGOUT----------------------------*/
.main-logout{
    text-align: center;
    display: flex;
}

.container-logout{
        margin-top: 7rem;
        width: 45rem;
        height: 20rem;
        text-align: center;
        background: linear-gradient(to right, #c402ff, #ff0281, #1a01ff, #00dffc);
        padding: 5px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: var(--tercer-color);

}

.contain-logout{
    height: 100%;
    background: var(--sexto-color);
    padding: 2rem 0px;
}

.main-logout .contain-logout a{
    color: var(--tercer-color);
    text-decoration: none;
}


