{% load static %}
<header class="header">
    <div class="hamburger">
        <div class="line"></div>
        <div  class="line"></div>
        <div  class="line"></div>
    </div>
    <nav class="nav-bar">
       <div class="nav-container">
            <div class="nav-content">
                <ul>
                    <li>
                        <a href="#">Sign in</a>
                    </li>
                    <li>
                        <a href="#">login</a>
                    </li>
                    <li>
                         <p class="total-lives-count"><i class="fa-regular fa-heart" style="color:#f00; padding: .5rem; font-size: 1.5rem;border-radius: 50%;"></i><span id="lives"> 0</span></p>
                    </li>
                </ul>
            </div>
       </div>
    </nav>  
</header>  


