{% extends 'layout.html' %}
<!-- https://developer.paypal.com/docs/checkout/standard/integrate/ paypal-->

{% block content %}

    {% load static %}

    <div class="pay-cont">
      <div class="pay-conta">
          <div class="content">
              <h1 class="title">Compra de Vidas</h1><br>
              <p id="total">Total: ${{ amount|floatformat:2 }} USD</p><br>
            <!-- {# Mostrar el formulario #} -->
              {{ form.render }}
          </div>
      </div>
    </div>

   
    
    
    {% endblock content %} 
  