{% extends 'layout.html' %}
<!-- https://developer.paypal.com/docs/checkout/standard/integrate/ paypal-->

{% block content %}

    {% load static %}

    <div class="container">
        
        <h1>Compra de Vidas</h1>
        <p id="price">Precio por vida: $0.01 USD</p>
        <p class="buying-lives-count">Vidas para comprar: <span id="buying-lives">0</span></p>
        <p class="total-lives-count">Vidas que tienes: <span id="lives">0</span> <i class="fa-regular fa-heart" style="color:#f00; padding: .5rem; font-size: 1.5rem;"></i></p>
        <div class="arrow">
            <button id="increase-lives-btn" onclick="aumentarVidas()"><i class="fa-solid fa-plus"></i></button>
            <button id="decrease-lives-btn" onclick="disminuirVidas()"><i class="fa-solid fa-minus"></i></button>
        </div>
        <p id="total">Total: $0.00 USD</p>

        
         <!-- {# Verificar si hay mensajes para mostrar #} -->
        {% if messages %}
        <!-- {# Si hay mensajes, mostrar una lista de mensajes #} -->
        <ul class="messages">
            {% for message in messages %}
                <!-- {# Iterar sobre cada mensaje y mostrarlo como un elemento de lista #} -->
                <li>{{ message }}</li>
            {% endfor %}     
        </ul>   
        {% endif %}

        <!-- {# Mostrar el formulario #} -->
        {{ form.render }}
    </div>

   
    
    {% endblock content %} 
    <!-- <div class="container">
        
        <h1>Compra de Vidas</h1>
        <p id="price">Precio por vida: $0.01 USD</p>
        <p class="buying-lives-count">Vidas para comprar: <span id="buying-lives">0</span></p>
        <p class="total-lives-count">Vidas que tienes: <span id="lives">0</span> <i class="fa-regular fa-heart" style="color:#f00; padding: .5rem; font-size: 1.5rem;"></i></p>
        <div class="arrow">
            <button id="increase-lives-btn" onclick="aumentarVidas()"><i class="fa-solid fa-plus"></i></button>
            <button id="decrease-lives-btn" onclick="disminuirVidas()"><i class="fa-solid fa-minus"></i></button>
        </div>
        <p id="total">Total: $0.00 USD</p>

        <button id="buy-life-btn" onclick="comprarVida()">Pagar con mercado pago</button>
        <button id="buy-life-btn" onclick="comprarVida()">Pagar con Paypal</button>
    </div> -->
    